spring:
  profiles:
    include:
      - aws
      - azure
      - cosmosdb
      - servicebus

  application:
    name: com.amido.stacks-api-cqrs-events
  data:
    rest:
      detection-strategy: annotated

server:
  # Note: ONLY use this if you're behind a trusted Reverse Proxy, such as Application Gateway.
  # If you host this app directly then users can easily inject headers.
  forward-headers-strategy: framework
  #######
  port: 9000

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, beans

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    display-operation-id: true
    # TODO: Swagger keeps redirecting, it'd be good to stop it if possible
    path: /swagger/index.html
  packagesToScan: com.amido.stacks.workloads.menu.api
  api-docs:
    groups:
      enabled: true
    enabled: true
    path: /swagger/oas-json
